{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}

<style>
#topBar{position:relative;width:100%;padding:0 15px;top:0;display:flex;grid-area:navigation;left:0;z-index:1000;background:#fff; margin-top:20px; border-top:1px solid #E2E2E2;}
#topBar ul{margin:0px auto;padding:0px;}
#topBar ul li{position:relative;display:inline-block;}
#topBar > ul > li{float:left;}
#topBar a{display:inline-block;padding:15px 15px;color:#444444; text-transform:uppercase; display:flex; align-items:center; text-decoration:none; transition:.2s ease-out; font-family: "Poppins", sans-serif; font-size:14px; font-weight:500;}
#topBar a .arrow-down{box-sizing:border-box;height:7px;width:7px; display:block; border-style:solid;border-color:#333; margin-left:10px; border-width:0px 1px 1px 0px;transform:rotate(45deg);transition:border-width 150ms ease-in-out;}
#topBar li.active a .arrow-down{border-color:#fff;}
#topBar a .arrow-right{box-sizing:border-box;height:7px;width:7px; display:block; border-style:solid;border-color:#333; margin-left:10px; border-width:0px 1px 1px 0px;transform:rotate(-45deg);transition:border-width 150ms ease-in-out;}
#topBar li.active a .arrow-right{border-color:#000;}
#topBar a span{font-family: "Poppins", sans-serif; font-size:14px; font-weight:500; color:#444444; text-transform:uppercase;}
#topBar li.active a{ color:#fff; font-family: "Poppins", sans-serif; font-size:14px; font-weight:500;}
  
#topBar a:hover,li.active{background:#5f807f; color:#fff;}
#topBar ul.subMenu{box-sizing:border-box;position:absolute;top:100%;left:0;width:250px;padding:0px;}
#topBar ul.subMenu li{width:100%;background:#f6f6f6;}
#topBar ul.subMenu li a{width:100%; justify-content:space-between; color:#333; padding:8px 15px;font-size:14px; border-bottom:1px solid rgba(0,0,0,.05);border-top:1px solid rgba(255,255,255,.1);line-height:inherit;}
#topBar ul.subMenu li a:hover,#topBar ul.subMenu li.active > a{background:#fcfcfc; color:#000;}
#topBar ul.subMenu ul.subMenu{position:absolute;top:0;left:100%;width:100%;}

  
</style>

<nav id="topBar">
  <ul>
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
                <a href="{{ link.url }}"
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                <i class="arrow-down"></i>
                </a>
                
              <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="subMenu" tabindex="-1">
                {%- for childlink in link.links -%}
                  <li>
                    {%- if childlink.links == blank -%}
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                    {%- else -%}
                        <a href="{{ childlink.url }}">{{ childlink.title | escape }} <i class="arrow-right"></i></a>    
                        <ul
                          id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                          class="subMenu"
                        >
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  // Hide SubMenus.
$(".subMenu").hide();

// Shows SubMenu when it's parent is hovered.
$(".subMenu").parent("li").hover(function () {
  $(this).find(">.subMenu").not(':animated').slideDown(300);
  $(this).toggleClass("active ");
});

// Hides SubMenu when mouse leaves the zone.
$(".subMenu").parent("li").mouseleave(function () {
  $(this).find(">.subMenu").slideUp(150);
});

// Prevents scroll to top when clicking on <a href="#"> 
$("a[href=\"#\"]").click(function () {
  return false;
});
</script>
