<ul class="product_detail_data">
<li><div class="leftcol">Sub Category #1:</div><div class="rightcol">{{ product.metafields.custom.sub_category_1 | metafield_tag }}</div></li>
<li><div class="leftcol">Sub Category #2:</div><div class="rightcol">{{ product.metafields.custom.sub_category_l2 | metafield_tag }}</div></li>
<li><div class="leftcol">Indoor Outdoor:</div><div class="rightcol">{{ product.metafields.custom.indoor_outdoor | metafield_tag }}</div></li>
<li><div class="leftcol">Room:</div><div class="rightcol">{{ product.metafields.custom.room | metafield_tag }}</div></li>
<li><div class="leftcol">Collection Name:</div><div class="rightcol">{{ product.metafields.custom.collection_name | metafield_tag }}</div></li>
<li><div class="leftcol">Style:</div><div class="rightcol">{{ product.metafields.custom.product_style | metafield_tag }}</div></li>
<li><div class="leftcol">Color:</div><div class="rightcol">{{ product.metafields.custom.color | metafield_tag }}</div></li>
<li><div class="leftcol">Customer's Own Material:</div><div class="rightcol">{{ product.metafields.custom.com_ | metafield_tag }}</div></li>
<li><div class="leftcol">Leather?:</div><div class="rightcol">{{ product.metafields.custom.leather_ | metafield_tag }}</div></li>
<li><div class="leftcol">New?:</div><div class="rightcol">{{ product.metafields.custom.new | metafield_tag }}</div></li>
<li><div class="leftcol">Top Material:</div><div class="rightcol">{{ product.metafields.custom.top_material | metafield_tag }}</div></li>
<li><div class="leftcol">Shape:</div><div class="rightcol">{{ product.metafields.custom.shape | metafield_tag }}</div></li>
<li><div class="leftcol">Storage:</div><div class="rightcol">{{ product.metafields.custom.storage | metafield_tag }}</div></li>
<li><div class="leftcol">Features:</div><div class="rightcol">{{ product.metafields.custom.product_features | metafield_tag }}</div></li>
<li><div class="leftcol">Country of Origin:</div><div class="rightcol">{{ product.metafields.custom.country_of_origin | metafield_tag }}</div></li>
<li><div class="leftcol">Arm Height:</div><div class="rightcol">{{ product.metafields.custom.arm_height_upholstery_case_goods | metafield_tag }}</div></li>
</ul>  
  