<ul class="product_detail_data">
{%- if product.metafields.custom.sub_category_1 != blank -%}
<li><div class="leftcol">Sub Category #1:</div><div class="rightcol">{{ product.metafields.custom.sub_category_1 | metafield_tag }}</div></li>  {% endif %}
{%- if product.metafields.custom.sub_category_l2 != blank -%}
<li><div class="leftcol">Sub Category #2:</div><div class="rightcol">{{ product.metafields.custom.sub_category_l2 | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.room != blank -%}
<li><div class="leftcol">Room:</div><div class="rightcol">{{ product.metafields.custom.room | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.indoor_outdoor != blank -%}
<li><div class="leftcol">Indoor Outdoor:</div><div class="rightcol">{{ product.metafields.custom.indoor_outdoor | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.collection_name != blank -%}
<li><div class="leftcol">Collection Name:</div><div class="rightcol">{{ product.metafields.custom.collection_name | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.product_style != blank -%}
<li><div class="leftcol">Style:</div><div class="rightcol">{{ product.metafields.custom.product_style | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.product_features != blank -%}
<li><div class="leftcol">Features:</div><div class="rightcol">{{ product.metafields.custom.product_features | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.wood_finish != blank -%}
<li><div class="leftcol">Wood Finish:</div><div class="rightcol">{{ product.metafields.custom.wood_finish | metafield_tag }} </div></li>
{% endif %}
{%- if product.metafields.custom.metal_finish != blank -%}
<li><div class="leftcol">Metal Finish:</div><div class="rightcol">{{ product.metafields.custom.metal_finish | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.color != blank -%}
<li><div class="leftcol">Color:</div><div class="rightcol">{{ product.metafields.custom.color | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.material != blank -%}
<li><div class="leftcol">Material:</div><div class="rightcol">{{ product.metafields.custom.material | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.weight != blank -%}
<li><div class="leftcol">Weight:</div><div class="rightcol">{{ product.metafields.custom.weight | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.prod_width != blank -%}
<li><div class="leftcol">Width:</div><div class="rightcol">{{ product.metafields.custom.prod_width | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.prod_depth != blank -%}
<li><div class="leftcol">Depth:</div><div class="rightcol">{{ product.metafields.custom.prod_depth | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.prod_height != blank -%}
<li><div class="leftcol">Height:</div><div class="rightcol">{{ product.metafields.custom.prod_height | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.length != blank -%}
<li><div class="leftcol">Length:</div><div class="rightcol">{{ product.metafields.custom.length | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.length_2_case_goods != blank -%}
<li><div class="leftcol">Length 2:</div><div class="rightcol">{{ product.metafields.custom.length_2_case_goods | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.length_3_case_goods != blank -%}
<li><div class="leftcol">Length 3:</div><div class="rightcol">{{ product.metafields.custom.length_3_case_goods | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.construction != blank -%}
<li><div class="leftcol">Construction:</div><div class="rightcol">{{ product.metafields.custom.construction | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.extension_type_case_goods != blank -%}
<li><div class="leftcol">Extension Type:</div><div class="rightcol">{{ product.metafields.custom.extension_type_case_goods | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.table_type_case_goods != blank -%}
<li><div class="leftcol">Table Type:</div><div class="rightcol">{{ product.metafields.custom.table_type_case_goods | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.number_of_shelves_case_goods != blank -%}
<li><div class="leftcol">Number of Shelves:</div><div class="rightcol">{{ product.metafields.custom.number_of_shelves_case_goods | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.number_of_leaves_case_goods != blank -%}
<li><div class="leftcol">Number of Leaves:</div><div class="rightcol">{{ product.metafields.custom.number_of_leaves_case_goods | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.number_of_drawers_case_goods != blank -%}
<li><div class="leftcol">Number of Drawers:</div><div class="rightcol">{{ product.metafields.custom.number_of_drawers_case_goods | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.platform_height_case_goods != blank -%}
<li><div class="leftcol">Platform Height:</div><div class="rightcol">{{ product.metafields.custom.platform_height_case_goods | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.footboard_height_case_goods != blank -%}
<li><div class="leftcol">Footboard Height:</div><div class="rightcol">{{ product.metafields.custom.footboard_height_case_goods | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.headboard_height_case_goods != blank -%}
<li><div class="leftcol">Headboard Height:</div><div class="rightcol">{{ product.metafields.custom.headboard_height_case_goods | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.pattern_type_rugs != blank -%}
<li><div class="leftcol">Pattern Type:</div><div class="rightcol">{{ product.metafields.custom.pattern_type_rugs | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.pile_rugs != blank -%}
<li><div class="leftcol">Pile:</div><div class="rightcol">{{ product.metafields.custom.pile_rugs | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.rug_construction != blank -%}
<li><div class="leftcol">Rug Construction:</div><div class="rightcol">{{ product.metafields.custom.rug_construction | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.shape != blank -%}
<li><div class="leftcol">Shape:</div><div class="rightcol">{{ product.metafields.custom.shape | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.outdoor_rating_lighting != blank -%}
<li><div class="leftcol">Outdoor Rating:</div><div class="rightcol">{{ product.metafields.custom.outdoor_rating_lighting | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.dimmable_lighting_ != blank -%}
<li><div class="leftcol">Dimmable:</div><div class="rightcol">{{ product.metafields.custom.dimmable_lighting_ | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.lumens_lighting != blank -%}
<li><div class="leftcol">Lumens:</div><div class="rightcol">{{ product.metafields.custom.lumens_lighting | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.socket_lighting != blank -%}
<li><div class="leftcol">Socket:</div><div class="rightcol">{{ product.metafields.custom.socket_lighting | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.shade_material_lighting != blank -%}
<li><div class="leftcol">Shade Material:</div><div class="rightcol">{{ product.metafields.custom.shade_material_lighting | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.light_finish_lighting != blank -%}
<li><div class="leftcol">Light Finish:</div><div class="rightcol">{{ product.metafields.custom.light_finish_lighting | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.watts_per_bulb_lighting != blank -%}
<li><div class="leftcol">Watts per Bulb:</div><div class="rightcol">{{ product.metafields.custom.watts_per_bulb_lighting | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.number_of_bulb_lighting != blank -%}
<li><div class="leftcol">Number of Bulbs:</div><div class="rightcol">{{ product.metafields.custom.number_of_bulb_lighting | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.suggested_bulb_lighting != blank -%}
<li><div class="leftcol">Suggested Bulb:</div><div class="rightcol">{{ product.metafields.custom.suggested_bulb_lighting | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.cord_length_lighting != blank -%}
<li><div class="leftcol">Cord Length:</div><div class="rightcol">{{ product.metafields.custom.cord_length_lighting | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.title_20_lighting != blank -%}
<li><div class="leftcol">Title 20:</div><div class="rightcol">{{ product.metafields.custom.title_20_lighting | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.collection_features != blank -%}
<li><div class="leftcol">Collection Features:</div><div class="rightcol">{{ product.metafields.custom.collection_features | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.motion_type != blank -%}
<li><div class="leftcol">Motion Type:</div><div class="rightcol">{{ product.metafields.custom.motion_type | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.rug_size != blank -%}
<li><div class="leftcol">Rug Size:</div><div class="rightcol">{{ product.metafields.custom.rug_size | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.fiber_content_rug_decor != blank -%}
<li><div class="leftcol">Fiber Content:</div><div class="rightcol">{{ product.metafields.custom.fiber_content_rug_decor | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.sleeper_upholstery != blank -%}
<li><div class="leftcol">Sleeper:</div><div class="rightcol">{{ product.metafields.custom.sleeper_upholstery | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.seat_width_upholstery_case_goods != blank -%}
<li><div class="leftcol">Seat Width:</div><div class="rightcol">{{ product.metafields.custom.seat_width_upholstery_case_goods | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.seat_height_upholstery_case_goods != blank -%}
<li><div class="leftcol">Seat Height:</div><div class="rightcol">{{ product.metafields.custom.seat_height_upholstery_case_goods | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.seat_depth_upholstery_case_goods != blank -%}
<li><div class="leftcol">Seat Depth:</div><div class="rightcol">{{ product.metafields.custom.seat_depth_upholstery_case_goods | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.arm_height_upholstery_case_goods != blank -%}
<li><div class="leftcol">Arm Height:</div><div class="rightcol">{{ product.metafields.custom.arm_height_upholstery_case_goods | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.inside_height_upholstery != blank -%}
<li><div class="leftcol">Inside Height:</div><div class="rightcol">{{ product.metafields.custom.inside_height_upholstery | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.inside_depth_upholstery != blank -%}
<li><div class="leftcol">Inside Depth:</div><div class="rightcol">{{ product.metafields.custom.inside_depth_upholstery | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.inside_width_upholstery != blank -%}
<li><div class="leftcol">Inside Width:</div><div class="rightcol">{{ product.metafields.custom.inside_width_upholstery | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.seat_type_upholstery != blank -%}
<li><div class="leftcol">Seat Type:</div><div class="rightcol">{{ product.metafields.custom.seat_type_upholstery | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.sleeper_mattress_type_upholstery != blank -%}
<li><div class="leftcol">Sleeper Mattress Type:</div><div class="rightcol">{{ product.metafields.custom.sleeper_mattress_type_upholstery | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.cushion_type_upholstery != blank -%}
<li><div class="leftcol">Cushion Type:</div><div class="rightcol">{{ product.metafields.custom.cushion_type_upholstery | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.arm_type_upholstery != blank -%}
<li><div class="leftcol">Arm Type:</div><div class="rightcol">{{ product.metafields.custom.arm_type_upholstery | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.disclaimer != blank -%}
<li><div class="leftcol">Disclaimer:</div><div class="rightcol">{{ product.metafields.custom.disclaimer | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.warranty != blank -%}
<li><div class="leftcol">Warranty:</div><div class="rightcol">{{ product.metafields.custom.warranty | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.comfort_mattress_foundation != blank -%}
<li><div class="leftcol">Comfort:</div><div class="rightcol">{{ product.metafields.custom.comfort_mattress_foundation | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.support_mattress_foundation != blank -%}
<li><div class="leftcol">Support:</div><div class="rightcol">{{ product.metafields.custom.support_mattress_foundation | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.bed_size != blank -%}
<li><div class="leftcol">Bed Size:</div><div class="rightcol">{{ product.metafields.custom.bed_size | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.country_of_origin != blank -%}
<li><div class="leftcol">Country of Origin:</div><div class="rightcol">{{ product.metafields.custom.country_of_origin | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.diameter != blank -%}
<li><div class="leftcol">Diameter:</div><div class="rightcol">{{ product.metafields.custom.diameter | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.com_ != blank -%}
<li><div class="leftcol">Customer's Own Material:</div><div class="rightcol">{{ product.metafields.custom.com_ | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.leather_ != blank -%}
<li><div class="leftcol">Leather?:</div><div class="rightcol">{{ product.metafields.custom.leather_ | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.new != blank -%}
<li><div class="leftcol">New?:</div><div class="rightcol">{{ product.metafields.custom.new | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.top_material != blank -%}
<li><div class="leftcol">Top Material:</div><div class="rightcol">{{ product.metafields.custom.top_material | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.custom.storage != blank -%}
<li><div class="leftcol">Storage:</div><div class="rightcol">{{ product.metafields.custom.storage | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.shopify--discovery--product_search_boost.queries != blank -%}
<li><div class="leftcol">Search product boosts:</div><div class="rightcol">{{ product.metafields.shopify--discovery--product_search_boost.queries | metafield_tag }}</div></li>
{% endif %}
{%- if product.metafields.shopify--discovery--product_search_boost.queries != blank -%}
<li><div class="leftcol">Search product boosts:</div><div class="rightcol">{{ product.metafields.shopify--discovery--product_search_boost.queries | metafield_tag }}</div></li>
{% endif %}

</ul>  
  