  <div class="container">
    <div class="content_wrapper">
      {% if section.settings.button_text == '' %}
      <div class="text_center">{{ section.settings.cta_text }}</div>        
      {% else %}
      <div class="left_content"><h3>{{ section.settings.cta_text }}</h3>
      <div class="subheading">{{ section.settings.cta_subheading }}</div>
      </div>
      <div class="right_content"><a href="{{ section.settings.cta_button_url}}">{{ section.settings.button_text }}</a></div>
      {% endif %}    
  </div>
  </div>

{% stylesheet %}
  .ctasection{ background-color:#ece5dd; padding:60px 15px;}
  .ctasection .content_wrapper{ display:flex; justify-content:space-between; align-items:center; gap: 30px; max-width:1050px; margin:0 auto; }
  .ctasection .content_wrapper .text_center{ width:100%; text-align:center; font-size:50px; color:#fff;}
  .ctasection .content_wrapper .left_content{ flex:1 50%; font-size:50px; color:#fff;}
  .ctasection .content_wrapper .left_content h3, .ctasection .content_wrapper .left_content h3 p{ font-weight:400; font-size:32px; line-height:42px; color:#5c4d3b; margin:0px 0px 5px 0px; padding:0px;font-family: "Poppins", sans-serif;}
  
  .ctasection .content_wrapper .left_content .subheading, .ctasection .content_wrapper .left_content .subheading p, .ctasection .content_wrapper .text_center p{ margin:0px; padding:0px; color:#333333; font-size:16px; line-height:26px;}
  .ctasection .content_wrapper .right_content{display:flex; justify-content:right;}
  .ctasection .content_wrapper .right_content a{ background:#a38e76; padding:15px 35px; line-height:initial; border-radius:30px; color:#fff; font-size:15px; text-decoration:none;}

  @media only screen and (max-width: 767px){
  .ctasection .content_wrapper{ flex-direction: column;}
  }
{% endstylesheet %}
{% schema %}
{
  "name": "Call To Action",
  "tag": "section",
  "class": "ctasection",
  "settings": [
    {
      "type": "text",
      "label": "CTA Text",
      "id": "cta_text"
    },
        {
      "type": "text",
      "label": "CTA Sub Heading",
      "id": "cta_subheading"
    },
    {
      "type": "url",
      "label": "CTA Button URL",
      "id": "cta_button_url"
    },
    {
      "type": "text",
      "label": "Button Text",
      "id": "button_text"
    }
  ],
  "presets": [
    {
      "name": "Call To Action"
    }
  ]
}
{% endschema %}


{% javascript %}
{% endjavascript %}
