<style>
    .product-card {
      box-sizing: border-box;
      float: left;
      min-height: 1em;
      padding-left: 2em;
      vertical-align: top;
      width: 25%;
    }
  
    .visuallyhidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      white-space: nowrap;
    }
  </style>





  <h3>recommend product</h3>

  {% assign vendor = product.vendor %}
  {% assign product_handle = product.handle %}
  handel is {{ product.vendor }}
      {% assign items_array = " " | split: '<br>' %} 
    <div class="grid grid--uniform grid--view-items">
  {% capture productInfo %}
  {% for product in collections['all'].all_products %}
   {% if vendor == product.vendor and product.metafields.custom.sub_category_1 and  product_handle != product.handle %}
  
   <div style="float:left;width:30%;padding:1%;">
   <a href="{{ product.url | within: collection }}" title="{{ product.title }}">
   <img src="{{ product.images.first | product_img_url: 'medium' }}" alt="{{ product.title }}" />
   </a>
   <h3>{{ product.title }}</h3>
   <div>product vender :{{ product.vendor }}</div>
   <div>product sub category : {{ product.metafields.custom.sub_category_1}}</div>
   <div>product collection Name : {{ product.metafields.custom.collection_name}}</div>
   <h3>{{ product.price | money }} </h3> <br>
     
   </div>
  {% endif %}
  {% endfor %}
         {% endcapture %}
      {% assign items_array = productInfo | split: '<br>' %} 
    {% for item in items_array limit:4 %}
  {{ item }}
{% endfor %}

    </div>






      {% assign items_array_two = " " | split: '<br>' %} 
    <div class="grid grid--uniform grid--view-items">
  {% capture productInfotwo %}    
  {% for product in collections['all'].all_products %}
   {% if product.metafields.custom.collection_name and product_handle != product.handle %}
  
   <div style="float:left;width:30%;padding:1%;">
   <a href="{{ product.url | within: collection }}" title="{{ product.title }}">
   <img src="{{ product.images.first | product_img_url: 'medium' }}" alt="{{ product.title }}" />
   </a>
   <h3>{{ product.title }}</h3>
   <div>product vender :{{ product.vendor }}</div>
   <div>product sub category : {{ product.metafields.custom.sub_category_1}}</div>
        <div>product collection Name : {{ product.metafields.custom.collection_name}}</div>
   <h3>{{ product.price | money }} </h3> <br>
     
   </div>
    
  {% endif %}
  {% endfor %}
     {% endcapture %}
      {% assign items_array_two = productInfotwo | split: '<br>' %} 
      
    {% for item in items_array_two limit:4 %}
  {{ item }}
{% endfor %}

    </div>
  
  


    



  {% schema %}
  {
    "name": "Recommended products",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Recommended products"
      },
      {
        "type": "text",
        "id": "related_tag",
        "label": "Tag",
        "info" : "The tag determines which products show as related products."
      },
      {
        "type": "select",
        "id": "number_of_products",
        "label": "Number of products to show",
        "default": "4",
        "options": [
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "8",
            "label": "8"
          },
          {
            "value": "12",
            "label": "12"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Recommended products"
      }
    ]
  }
  {% endschema %}