<style>
    .product-card {
      box-sizing: border-box;
      float: left;
      min-height: 1em;
      padding-left: 2em;
      vertical-align: top;
      width: 25%;
    }
  
    .visuallyhidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      white-space: nowrap;
    }
  .product_listing{
    float:left;
    width:23%;
    padding:1%;
  }
  </style>


<h3>Recommend product Based on Collection</h3>
  {% assign vendor = product.vendor %}
  {% assign product_handle = product.handle %}
  {% assign product_collection = product.metafields.custom.collection_name %}
  {% assign items_array = " " | split: ' ' %} 
  <div class="grid grid--uniform grid--view-items">
  {% capture productInfotwo %}    
  {% for product in collections['all'].all_products %}
   {% if product_collection == product.metafields.custom.collection_name and product_handle != product.handle %}
   {{ product.handle }}
  {% endif %}
  {% endfor %}
  {% endcapture %}
      {% assign items_array = productInfotwo | split: ' ' %} 
    {% for item in items_array %}
  {{ item }}
{% endfor %}

    </div>


  <h3>Recommend product Based on Vendor and Sub Category</h3>
      {% assign items_array_two = " " | split: ',' %} 
    <div class="grid grid--uniform grid--view-items">
  {% capture productInfo %}
  {% for product in collections['all'].all_products %}
   {% if vendor == product.vendor and product.metafields.custom.sub_category_1 and  product_handle != product.handle %}

   {{ product.handle }},
     
     
  {% endif %}
  {% endfor %}
         {% endcapture %}
      {% assign items_array_two = productInfo | split: ' ' %} 
      
    {% for item in items_array_two %}
  {{ item  }}
{% endfor %}

    </div>

  


  <h3>Recommend product Final Data</h3>

{%- assign combined_array = items_array | concat: items_array_two -%}
{%- assign unique_array = combined_array -%}
{{ unique_array | join: '<br>' }}

<div class="fillterdata">
    {% for items in unique_array limit:5 %}
  {{ items  | uniq }}
{% endfor %}
</div>

{% comment %}
{% if items_array_two.size > 4 and items_array.size <= 4 %}
    {% for items in combined_array limit:5 %}
  <div class="fillteritems">{{ items }}</div>
{% endfor %}
{% else %}
    {% for items in combined_array limit:4 %}
  <div class="fillteritems">{{ items }}</div>
{% endfor %}
{% endif %}
{% endcomment %}




  {% schema %}
  {
    "name": "Recommended products",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Recommended products"
      },
      {
        "type": "text",
        "id": "related_tag",
        "label": "Tag",
        "info" : "The tag determines which products show as related products."
      },
      {
        "type": "select",
        "id": "number_of_products",
        "label": "Number of products to show",
        "default": "4",
        "options": [
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "8",
            "label": "8"
          },
          {
            "value": "12",
            "label": "12"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Recommended products"
      }
    ]
  }
  {% endschema %}